<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>picture-mailer</title>
  </head>
  <body>
    <div id="forms">
      <section class="section">
        <form action="/email" enctype="multipart/form-data" method="POST">
	  <input id="name" name="name" type="text" />
	  <input id="email" name="email" type="text" />
	  <input id="dob" name="dob" type="text" />
	  <input id="pronoun" name="pronoun" type="text" />
	  <input type="submit" value="upload" />
	</form>
      </section>
      <section class="section">
	<form action="/upload" enctype="multipart/form-data" method="POST">
	  <input name="redirect" type="hidden" value="true">
	  <input id="file" name="file" type="file" />
	  <input id="qr-id" name="qr-id" type="text" />
	  <input type="submit" value="upload" />
	</form>
      </section>
    </div>
    {% block readme %}
    <div class="docs">
      {{docs|markdown}}
    </div>
    {% endblock %}

    <!-- scripts and styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}
    {% style "/css/screen.css" %}
    <script type="text/javascript">
      var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
