<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>picture-mailer</title>
  </head>
  <body>
    <div id="forms" style="display:flex">
      <section class="test-form">
	<h1>Get a QR code</h1>
	<form action="/upload" enctype="multipart/form-data" method="POST">
	  <input name="redirect" type="hidden" value="qr-image">
	  <label>Image file</label>
	  <input id="file" name="file" type="file" />
	  <label>Unique ID (optional)</label>
	  <input id="id" name="id" type="text" />
	  <input type="submit" value="upload" />
	</form>
      </section>
      <section class="test-form">
	<h1>See the Frontend</h1>
	<form action="/upload" enctype="multipart/form-data" method="POST">
	  <input name="redirect" type="hidden" value="frontend">
	  <label>Image file</label>
	  <input id="file" name="file" type="file" />
	  <label>Unique ID (optional)</label>
	  <input id="id" name="id" type="text" />
	  <input type="submit" value="upload" />
	</form>
      </section>
      <section class="test-form">
	<h1>Send an Email</h1>
        <form action="/email" enctype="multipart/form-data" method="POST">
	  <input name="redirect" type="hidden" value="test-page">
	  <label>Name</label>
	  <input id="name" name="name" type="text" />
	  <label>Email</label>
	  <input id="email" name="email" type="text" />
	  <label>age</label>
	  <input id="age" name="age" type="text" />
	  <label>Pronoun</label>
	  <input id="pronoun" name="pronoun" type="text" />
	  <input type="submit" value="upload" />
	</form>
      </section>
    </div>
      {% block readme %}
      <div class="docs">
	{{docs|markdown}}
      </div>
      {% endblock %}
      <!-- scripts and styles -->
      <!-- {% style "/assets/bulma/css/bulma.min.css" %} -->
      {% style "/assets/material-icons/css/material-icons.min.css" %}
      {% style "/css/screen.css" %}
      <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
      </script>
      {% script "/js/app.js" %}
  </body>
</html>
